<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="false">
        <!-- Gỡ WebDAV: nó bắt OPTIONS/PUT/DELETE trước ASP.NET Core, trả 405 không kèm header CORS. -->
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <!-- Gỡ handler WebDAV để OPTIONS (preflight CORS) đi tới AspNetCoreModuleV2. -->
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\StockApi.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
